extends ../layouts/layout 
block contents 
    h1.text-center Cảm ơn quý khách đã mua hàng
    .order
        .order-detail
            p= "Mã đơn hàng: " + order.code
            p= "Ngày mua hàng: " + order.date_create
            p= "Tên người nhận: " + order.delivery_address.name
            p= "Địa chỉ giao hàng: " + order.delivery_address.address
            p= "Số điện thoại: " + order.delivery_address.phone
            p= "Phương thức giao hàng: " + order.dm
            p= "Phương thức thanh toán: " + order.pm
            p= "Tổng số tiền phải thanh toán: " + order.totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})
        a.btn-back(href="/home")
            i(class="fal fa-angle-double-left")  &nbsp;Tiếp tục mua hàng 